
<!-- Encabezado superior. Se mantendrá fijo en todas las páginas. -->
<!-- <header class="topbar">
  <div class="brand">Sitio-Estructura</div>

  
</header> -->
<app-navbar></app-navbar>

<!-- Contenido principal. -->
<main class="content min-h-screen overflow-x-hidden">



  <!-- <router-outlet>: Aquí es donde Angular muestra la página actual.
       Analogía: Es el escenario del teatro. El marco (header/footer) es fijo, pero en este hueco cambia la obra (la página). -->
    <app-breadcrumb></app-breadcrumb>

    <router-outlet></router-outlet>

</main>

<app-footer></app-footer>
