@import "tailwindcss";

@plugin "daisyui" {
  themes: emerald;
}

@plugin "daisyui/theme" {
  name: "lateflow";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96% 0.018 272.314);
  --color-base-200: oklch(93% 0.034 272.788);
  --color-base-300: oklch(87% 0.065 274.039);
  --color-base-content: oklch(35% 0.144 278.697);
  --color-primary: oklch(79% 0.184 86.047);
  --color-primary-content: oklch(98% 0.026 102.212);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(70% 0.213 47.604);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(45% 0.24 277.023);
  --color-neutral-content: oklch(96% 0.018 272.314);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
